/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
    font-family: "Futura PT";
    src: url("/fonts/FuturaPTBook.otf") format("otf");
}

p {
    font-family: var(--para);
}


/* colors */
:root {
    --primary-color: #E2fe98;
    --secondary-color: #81FAE4;
    /* --font-color: #fff; */
    --time: 0.707s;
    --bg-main: #212121;
    /* --bg-nav: #212121; 
    --bg-s1: #212121; */
    --bg-s2: #191919;
    --font-2: #c5fe00;
    --ff-quote: 'Source Code Pro', monospace;
    --para: "Futura PT";

}

/* Welcome Page  */

#welcome-wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.divide {
    box-sizing: border-box;
    background-color: var(--bg-s2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.divide div {
    padding-bottom: 0.5rem;
}

.divide-1 {
    background-color:  var(--bg-main);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.block {
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid black; */
    background-color: var(--bg-s2);
    border-radius: 0.5rem;
    padding: 3rem;
    margin: 2rem 1rem;
}

.block h3 {
    font-weight: normal;
    padding-bottom: .5rem;
}


#welcome-quote {
    font-family: var(--ff-quote);
    font-size: 1.2rem;
}

#btn-welcome {
    font-family: var(--ff-quote);
    background-color: var(--primary-color);
    color: var(--bg-main);
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
}

#btn-welcome:hover {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: hover-btn-welcome;
}


@keyframes hover-btn-welcome {
    100% {
        background-color: var(--font-2);
    }
}


/* form  */

#logo-img {
    display: block;
    width: 20wh;
    height: 20vh;
    margin: auto;
    padding: 2rem;
}

@media screen and (min-width: 767px){
    body {
  
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
       }
       #form-main{
        width: 60%;
    }
        main {
          
            max-width: 600px;
            
        }
}

form {
    display: flex;
    flex-flow: column nowrap;
}

#survey-form {
    box-sizing: border-box;
    background-color: var(--bg-s2);
    border: 1px solid var(--primary-color);
    padding: 3rem;
    color: white;
    font-size: 1.3rem;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    margin: .3rem 0 2rem 0;
    padding: .7rem;
    border-radius: 5px;
    font-size: 1.1rem;
}
input[type="radio"], input[type="checkbox"]{
    height: 20px;
    width: 20px;
    float: left;
    margin: .25rem .5rem 0 0;
 }
 .radio-div, .checkbox-div {
 margin: .75rem 0 .5rem 0;
 }
 #radio-wrap, #checkbox-wrap {
   margin-bottom: 2rem;
 }

 #submit {
    padding: 1rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--bg-s2);
    font-size: 1.5rem;
    font-weight: bold;

}
#submit:hover {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: hover-submit;
}


@keyframes hover-submit {
    100% {
        background-color: var(--font-2);
    }
}




/* body */

body {
    background-color: var(--bg-main);
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 87%;
}

.special-font {
    color: var(--secondary-color);
}


