/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* colors */
:root {
    --primary-color: #14213d;
    --font-color: black;
    --time: 0.707s;
    --bg-main: #caf0f8;
    --bg-nav: #48cae4; 
    --bg-s1: #8EE3F5;
    --bg-s2: #A8E0FF;  
    
}
/* body */

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0 ;
    background-color: var(--bg-main);
    
}

/* nav */

.nav {
    background-color: var(--bg-nav);
    padding: 1rem;
}

.nav-brand {
    font-size: 2rem;
    position: relative;
    display: inline;
    top: 0.5rem;
    left: 0.5rem;
    font-weight: lighter;
    color:var(--font-color);
}
.nav-items {
    text-align: right;
 }
.nav-items a{
   
    color: var(--font-color);
    padding: 0.5rem 1rem;
}

/* images */

.logo-img{
    width: 100px;
    padding: 1rem;
    
}

/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;
    
}

.link-active {
    font-weight: bold;
}

.link:hover{
    font-weight: bold;
}


.link-primary {
background-color: var(--primary-color);
border-radius: 0.5rem;
max-width: 140px;
color: white;

}
.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    max-width: 140px;
    border: 1px solid var(--font-color);
    
}

.link-secondary:hover{
    background-color: var(--font-color);
}
.card .link {
    display: block;
}

/* lists */
.list-non-bullet {
    list-style: none;

}
.list-item-inline {
    display: inline;
}
ul a{
    display: inline;
}

ul {
    padding-inline-start: 0;
}
/* sections */

.section {
   
   
    margin: 5rem;
    padding: 8rem;
    background-color: var(--bg-s1);
    text-align: center;
}

/* .s1 {
    background-color: var(--bg-s1);
}
.s2 {
    background-color: var(--bg-s2);
}
 */



/* cards */



.card {
    width: 200px;
    height: 250px;
    background-color: var(--primary-color);
    color:var(--font-color);
    padding: 3rem;
    text-align: center;
    border-radius: 3rem;
}



/* footer */

.footer {
    background-color: var(--bg-nav);
    color: var(--font-color);
    padding: 2rem;
    text-align: center;
}

