/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');

/* colors */
:root {
    --primary-color: #14213d;
    --font-color: #c5fe00;
    --time: 0.707s;
    --bg-main: #282828;
    --bg-nav: #212121; 
    --bg-s1: #212121;
    --bg-s2: #000;  
   
    
}
/* body */

body {
    background-color: var(--bg-main);
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0; 
}

/* nav */

.nav {
    background-color: var(--bg-nav);
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.nav-brand {
    font-size: 2rem;
    position: relative;
    display: inline;
    top: 0.5rem;
    left: 0.5rem;
    font-weight: lighter;
    color:var(--font-color);
}
.nav-items {
    text-align: right;
 }
.nav-items a{
   
    color: var(--font-color);
    padding: 0.5rem 1rem;
}

/* images */

.logo-img{
    width: 100px;
    padding: 1rem;
    
}

/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;
    
}

.link-active {
    font-weight: 600;
    letter-spacing: .03em;
}

.link:hover{
    font-weight: bold;
    letter-spacing: .03em;
}


.link-primary {
background-color: var(--bg-nav);
border-radius: 0.5rem;
max-width: 140px;
color: var(--font-color);
padding: 0.5rem;
margin-bottom: 0.5rem;


}
.link-secondary {
    color: var(--font-color);
    border-radius: 0.5rem;
    max-width: 140px;
    border: 1px solid var(--bg-nav);
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.link-secondary:hover{
    background-color: var(--bg-s2);
}
.card .link {
    display: block;
}


.link-main {
    color: var(--font-color);
}
.link-main:hover section{
    background-color: var(--bg-s2);
}




/* lists */
.list-non-bullet {
    list-style: none;

}
.list-item-inline {
    display: inline;
}
ul a{
    display: inline;
}

ul {
    padding-inline-start: 0;
}
/* sections */

/* .section {
   
   
    margin: 5rem;
    padding: 14rem 8rem;
    background-color: var(--bg-s1);
    text-align: center;
} */
.section {
    /* padding: 12rem 8rem;
    margin: 5rem; */
    background-color: var(--bg-s1);
    display: grid;
    justify-content: center;
    align-items: center;
    
    padding: 5rem 0;
}
.main-div {
    margin: 3rem 2rem;
}
.section h1{
    text-align: center;
    font-size: 900;
    letter-spacing: .1em;
    font-size: 6vh;
    padding: 1rem;
    }

/* .s1 {
    background-color: var(--bg-s1);
}
.s2 {
    background-color: var(--bg-s2);
}
 */



/* cards */

/* .card {
    width: 300px;
    height: 200px;
    padding: 3rem;
    perspective: 1000px;
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card:hover .card-content{
    transform: rotateY(.5turn);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    backface-visibility: hidden;
    
}
.card-back {
    transform: rotateY(.5turn);
    background-color: var(--bg-s1);
    display: grid;
    justify-content: center;
    
}

.card-front {
    background-color:var(--bg-nav);
    display: grid;
    justify-content: center;
    align-items: center;
} */

.cards {
 display: grid;
 grid-template-columns: 1fr ;
 
}

.card {
    border: 1px solid #000;
    padding: 2rem;
    padding-bottom: 4rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--bg-s2);
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    
}


/* footer */

#footer {
    background-color: var(--bg-nav);
    color: var(--font-color);
    padding: 2rem;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    text-align: center;    
    border-top-right-radius: 2rem;
}

.footer-header {
    font-size: 1.1rem;
}
#footer .social-link {
    margin: 0.75rem;
    color:var(--font-color);
}
.social-links {
    margin: 1rem;
}



/* content */

.content {
    background-color: var(--bg-s2);
    padding: 3rem;
    margin: 1rem 2rem;
}








/* media queries */

@media(max-width: 480px)
{
    .cards{
        grid-template-columns: 1fr;
        margin: 1rem 2rem;


    }
    .main-div {
        margin: 3rem;
        
    }
    .section{
        padding: 5rem 0;
    }
   
}
@media(min-width: 481px) and (max-width: 767px)
{
    .cards{
        grid-template-columns: 1fr 1fr;
        margin: 1rem 2rem;
    }
    /* .section h1 {

    } */
  
}

@media(min-width: 768px) and (max-width: 1024px)
{
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem 4rem;
    }
    .main-div {
        margin: 5rem;
        
    }
    .section {
        
        padding: 10rem 0;
    }
}
@media(min-width: 1025px)
{
    .cards{
        grid-template-columns: 1fr  1fr 1fr;
        margin: 4rem 8rem;
    } 
    .main-div {
        margin: 6rem 8rem;
        
    }
    .section {
       
        padding: 15rem 0;
    }
}