/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
    font-family: "Futura PT";
    src: url("/fonts/FuturaPTBook.otf") format("otf");
}

p {
    font-family: var(--para);
}


/* colors */
:root {
    --primary-color: #E2fe98;
    --secondary-color: #81FAE4;
    /* --font-color: #fff; */
    --time: 0.707s;
    --bg-main: #212121;
    /* --bg-nav: #212121; 
    --bg-s1: #212121; */
    --bg-s2: #191919;
    --font-2: #c5fe00;
    --ff-quote: 'Source Code Pro', monospace;
    --para: "Futura PT";

}

/* Welcome Page  */

#welcome-wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.divide {
    box-sizing: border-box;
    background-color: var(--bg-s2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);

    border-bottom-left-radius: 2rem;

}
.divide div {
    padding-bottom: 0.5rem;
}

.divide-1 {
    background-color:  var(--bg-main);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.block {
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid black; */
    background-color: var(--bg-s2);
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    padding: 3rem;
    margin: 2rem 1rem;
}

.block h3 {
    font-weight: normal;
    padding-bottom: .5rem;
}


#welcome-quote {
    font-family: var(--ff-quote);
    font-size: 1.2rem;
}

#btn-welcome {
    font-family: var(--ff-quote);
    background-color: var(--primary-color);
    color: var(--bg-main);
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
}

#btn-welcome:hover {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: hover-btn-welcome;
}


@keyframes hover-btn-welcome {
    100% {
        background-color: var(--font-2);
    }
}


/* form  */

#logo-img {
    display: block;
    width: 20wh;
    height: 20vh;
    margin: auto;
    padding: 2rem;
}

/* @media screen and (min-width: 767px){
    body {
  
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
       }
       #form-main{
        width: 60%;
    }
        main {
          
            max-width: 600px;
            
        }
} */

form {
    display: flex;
    flex-flow: column nowrap;
}

#survey-form {
    background-color: var(--bg-s2);
    padding: 3rem;
    color: white;
    font-size: 1.3rem;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    margin: .3rem 0 2rem 0;
    padding: .7rem;
    border-radius: 5px;
    font-size: 1.1rem;
}
input[type="radio"], input[type="checkbox"]{
    height: 20px;
    width: 20px;
    float: left;
    margin: .25rem .5rem 0 0;
 }
 .radio-div, .checkbox-div {
 margin: .75rem 0 .5rem 0;
 }
 #radio-wrap, #checkbox-wrap {
   margin-bottom: 2rem;
 }

 #submit {
    padding: 1rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--bg-s2);
    font-size: 1.5rem;
    font-weight: bold;

}
#submit:hover {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: hover-submit;
}


@keyframes hover-submit {
    100% {
        background-color: var(--font-2);
    }
}




/* body */

body {
    background-color: var(--bg-main);
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 87%;
}

.special-font {
    color: var(--secondary-color);
}


/* #main {
    margin: 0 30%;

} */
/* nav */

.nav {
    background-color: var(--bg-nav);
    padding: 1rem 2rem;
    border-bottom-left-radius: 2rem;
    border-left: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

}

.nav-brand {
    font-size: 2rem;
    /* position: relative;
    display: inline;
    top: 0.5rem;
    left: 0.5rem; */
    color: var(--primary-color);

}

.nav-items {
    text-align: right;
}

.nav-items a {
    color: var(--primary-color);

    padding: 0.5rem 1rem;
}

.nav-items a:hover {

    /* color: var(--font-2); */
    padding: 0.5rem 1rem;
}

/* images */

.logo-img {
    width: 100px;
    padding: 1rem;

}

/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;

}

.link-active {
    font-weight: 600;
    letter-spacing: .03em;
}

.link:hover,
.link-primary:hover,
.link-secondary:hover,
.social-link:hover {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


.link:hover {
    /* color: #d8fc6f; */
    animation-name: hover-link;
}

@keyframes hover-link {
    100% {
        color: var(--font-2);
    }
}


.link-primary,
.link-secondary {
    border-radius: 0.5rem;
    max-width: 140px;
    padding: 0.5rem;
    /* opacity: 87%; */
}

.link-primary {
    background-color: var(--primary-color);
    color: #000;
    margin-bottom: 0.5rem;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--font-color);
    margin-top: 0.5rem;
}

.link-secondary:hover {
    animation-name: hover-link-secondary;
    color: white;
    border: 1px solid var(--font-2);
}

@keyframes hover-link-secondary {
    100% {
        background-color: var(--bg-s2);
    }
}



.link-primary:hover {
    color: black;
    animation-name: hover-link-primary;

}

@keyframes hover-link-primary {
    100% {
        background-color: var(--font-2);
    }
}



.card .link {
    display: block;
}


.link-main {
    color: var(--font-color);
    /* opacity: 87%; */
}

.link-main:hover section {
    animation-name: hover-link-main;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    color: white;


}

@keyframes hover-link-main {
    100% {
        background-color: var(--bg-s2);

    }
}




/* lists */
.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    display: inline;
}

ul a {
    display: inline;
}

ul {
    padding-inline-start: 0;
}

/* sections */

/* .section {
   
   
    margin: 5rem;
    padding: 14rem 8rem;
    background-color: var(--bg-s1);
    text-align: center;
} */
.section {
    /* padding: 12rem 8rem;
    margin: 5rem; */
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 5rem 0;
    border: 1px solid var(--primary-color);

}

.main-div {
    margin: 3rem 2rem;
}

.section h1 {
    text-align: center;
    font-size: 900;
    letter-spacing: .1em;
    font-size: 2rem;
    padding: 1rem;
    /* opacity: 87%; */
}

/* .s1 {
    background-color: var(--bg-s1);
}
.s2 {
    background-color: var(--bg-s2);
}
 */



/* cards */

/* .card {
    width: 300px;
    height: 200px;
    padding: 3rem;
    perspective: 1000px;
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card:hover .card-content{
    transform: rotateY(.5turn);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    backface-visibility: hidden;
    
}
.card-back {
    transform: rotateY(.5turn);
    background-color: var(--bg-s1);
    display: grid;
    justify-content: center;
    
}

.card-front {
    background-color:var(--bg-nav);
    display: grid;
    justify-content: center;
    align-items: center;
} */

.cards {
    display: grid;
    grid-template-columns: 1fr;


}

.card {
    border: 1px solid var(--primary-color);
    padding: 3rem;
    padding-bottom: 6rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--);
    border-radius: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;

}

.card-title {
    color: white;
    letter-spacing: 0.07rem;
    font-weight: normal;
}

/* 
.card:hover {
    background-color: var(--bg-s2);
} */

/* footer */

#footer {
    background-color: var(--bg-nav);
    color: var(--font-color);
    padding: 2rem;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    text-align: center;
    border-top-right-radius: 2rem;
    border-top: 1px solid var(--primary-color);



}

.footer-header {
    font-size: 1.1rem;
}

#footer .social-link {
    margin: 0.75rem;
    color: var(--font-color);
}

.social-links {
    margin: 1rem;
    font-size: 1.2rem;
}

#footer .social-link:hover {
    animation-name: hover-social-link;
}

@keyframes hover-social-link {
    100% {
        color: var(--font-2);

    }
}



/* content */

.content {
    background-color: var(--bg-s2);
    padding: 3rem;
    margin: 3rem 2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    /* opacity: 87%; */
}

.content a {
    color: var(--secondary-color)
}







/* media queries */

@media(max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;
        margin: 1rem 2rem;


    }

    .main-div {
        margin: 3rem;

    }

    .section {
        padding: 5rem 0;
    }

}

@media(min-width: 481px) and (max-width: 767px) {
    .cards {
        grid-template-columns: 1fr;
        margin: 1rem 15%;
    }

    /* .section h1 {

    } */

}

@media(min-width: 768px) and (max-width: 1024px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem 4rem;
    }

    .main-div {
        margin: 5rem;

    }

    .section {

        padding: 10rem 0;
    }
}

@media(min-width: 1025px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 4rem 8rem;
    }

    .main-div {
        margin: 6rem 8rem;

    }

    .section {

        padding: 15rem 0;
    }
}